.page {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-header {
  text-decoration: underline;
}
.author {
  font-size: 18px;
}
.ul-container {
  text-align: left;
}
.list {
  text-align: left;
  list-style-position: inside;
  width: fit-content;
  display: inline-block;
  border-top: 5px solid #20b2aa;
  border-bottom: 5px solid #20b2aa;
}
.To-Do_Link {
  text-decoration: none;
}
