.page {
  font-family: "Courier New", Courier, monospace;
}
.centered {
  text-align: center;
}
a {
  text-decoration: none;
  color: blue;
}
.footer {
  text-align: center;
  margin-top: 700px;
}
.main-header {
  font-size: xx-large;
  color: #20b2aa;
}
.ol-container {
  text-align: center;
}
.list {
  text-align: left;
  list-style-position: inside;
  width: fit-content;
  display: inline-block;
  border-top: 5px solid #20b2aa;
  border-bottom: 5px solid #20b2aa;
}
.Home {
  margin: 20px 0px 20px 0px;
  display: block;
}
